*.tlog
*.log
*.bak
proj.ios_mac/IntegrationDemo-cocos.xcodeproj/xcuserdata/*
proj.ios_mac/IntegrationDemo-cocos.xcodeproj/*.xcworkspace/*
proj.win32/.vs/*
proj.win32/Debug.win32/
proj.win32/Release.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Release.win32/
cocos2d/external/Box2D/proj.win32/Debug.win32/
cocos2d/external/Box2D/proj.win32/Release.win32/
cocos2d/external/bullet/proj.win32/Debug.win32/
cocos2d/external/bullet/proj.win32/Release.win32/
cocos2d/external/recast/proj.win32/Debug.win32/
cocos2d/external/recast/proj.win32/Release.win32/
cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/2d/Release.win32/
