*.tlog
proj.win32/.vs/*
proj.win32/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
cocos2d/external/Box2D/proj.win32/Debug.win32/
cocos2d/external/bullet/proj.win32/Debug.win32/
